body {
    margin: 0;
    padding: 0;
}

header,
footer,
aside,
nav,
article {
    padding: 1em;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

header {
    background-color: red;
    flex: 0 0 10vh;
}

footer {
    background-color: blue;
    flex: 0 0 10vh;
}

aside {
    flex: 0 0 10vw;
    background-color: green;
}

article {
    flex: 1 1 auto;
}

nav {
    flex: 0 0 10vw;
    background-color: rgba(0, 0, 0, 0.7);
    order: 2;
}

@media screen and (min-width:576px) {
    #main {
        flex-direction: row;
    }
}
